<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
  <div class="content">
    {{ partial "header.html" . }}
    <section>
      {{ .Content }}
      <ul reversed class="list">
        {{ range .Pages }}
          <li>
            <time class="g time" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "02-Jan-2006" .Date }}</time>
            <hr class="hr-list">
            <a class="link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            
            
          </li>
        {{ end }}
      </ul>
    </section>
  </div>
  
</main>
{{ partial "footer.html" . }}
</body>
</html>
