<header>
<p style="padding: 0;margin: 0;">
  <a href="/">
    <b>{{ .Site.Title }}</b>
    <span class="text-stone-500 animate-blink">▮</span>
  </a>
</p>
<ul style="padding: 0;margin: 0;">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  {{ $active := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
  {{ $active = or $active (eq .Name $currentPage.Title) }}
  {{ $active = or $active (and (eq .Name "Blog") (eq $currentPage.Section "post")) }}
  {{ $active = or $active (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
  <li class="{{ if $active }}active{{ end }}">
    
    <a href="{{ .URL }}"><span>{{ .Name }}</span></a>
    {{ end }}
  </li>
</ul>
</header>
<hr class="hr-list" style="padding: 0;margin: 0;">